﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model string
@{
    ViewData["Title"] = "Упс.....";
}
<h1>Упс что то пошло не так</h1>
<div>
    @Model<br />
    Попробуйте снова, только нормально -_-
</div>