﻿@model MessageModel
@{
    ViewData["Title"] = "Результат";
}
<h1>Результат</h1>
<p>
    @foreach (var par in Model.ResultMessage.Split('\n'))
    {
        @par<br />
    }
</p>

<form asp-action="GetTxtFileResult" asp-controller="Home" method="get">
    <textarea name="message" hidden>@Model.ResultMessage</textarea>
    <input type="submit" value="Сохранить в .txt" />
</form>

<form asp-action="GetDocxFileResult" asp-controller="Home" method="get">
    <textarea name="message" hidden>@Model.ResultMessage</textarea>
    <input type="submit" value="Сохранить в .docx" />
</form>