﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Расшифровать";
}
<h1>Расшифровать</h1>
<form asp-action="AddMessage" asp-controller="Decrypt" method="post" enctype="multipart/form-data">
    <p>
        <b>Ключ:</b> <br />
        <input type="text" name="key" required/>
    </p>
    <h2>Ввести текст вручную</h2>
    <p>
        <b>Текст, который необходимо расшифровать:</b> <br />
        <textarea name="message" rows="10" cols="100"></textarea>
    </p>
    <h2>Или вы можете загрузить файл с текстом <b>(только .txt или .docx)</b></h2>
    <p>
        <b>Файл</b><br />
        <input type="file" name="uploadFile" typ/>
    </p>
    <input type="submit" value="Расшифровать" />
</form>