﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать!</h1>
    <p>Здесь Вы можете <a asp-controller="Home" asp-action="Encrypt">Зашифровать</a> или <a asp-controller="Home" asp-action="Decrypt">Расшифровать</a> свое сообщение</p>
</div>
